.navbar__container {
  background: $black;
  padding: 40px 0;
}

.navbar__items {
  position: relative;
  z-index: 11;
  margin: 0;
  padding: 0;

  .menu__toggle {
    display: none;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  li a {
    list-style-type: none;
    font-weight: 600;
    display: block;
    font-size: 16px;
    padding: 0 12px;
    cursor: pointer;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    transition: all 0.55s;
  }

  .locale {
    background: #171613;
    width: 100px;
    position: relative;

    .languages {
      opacity: 0;
      content: '';
      position: absolute;
      background: #171613;
      border-radius: 0px 0px 12px 12px;
      top: 100%;
      left: 0;
      width: 100%;
      transition: all ease 0.4s;
      padding-bottom: 10px;
      padding-top: 16px;

      p {
        padding: 8px 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
      }
    }

    &:hover {
      svg {
        transform: rotate(180deg);
      }

      .languages {
        opacity: 1;
      }
    }
  }
}

.mobile__menuItems {
  z-index: 10;
  background: $black;
  width: 100%;
  height: 100%;
  padding-top: 105px;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 16px;
  padding-right: 16px;

  li {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    padding: 16px 0;
    line-height: 24px;
  }
}

.footer__container {
  background: $dark;
  padding: 32px 0 64px 0;
}

.footer__col .col__header {
  border-bottom: 1px solid #55534E;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 32px 0;
  margin-bottom: 32px;
}

.contact__block {
  margin-bottom: 24px;

  a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B3B0AA;
  }
}

.rightsReserved {
  font-weight: 400;
  margin-top: 12px;
  font-size: 14px;
  line-height: 16px;
  color: $gray;
}

.tipLimit {
  max-width: 456px;
}

.restaurantLimit {
  max-width: 872px;

  .v-card-text {
    margin-top: 32px;
  }
}

.modal__container {
  background: #FFFFFF;
  border-radius: 28px !important;
  padding: 32px !important;
  width: 100%;

  .modal__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px !important;
    padding: 0;
  }

  .v-card-text {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px !important;
    padding: 0 !important;
    margin-bottom: 24px;
  }

  .v-btn {
    margin-top: 32px;
    background: #171613;
    border-radius: 12px;
    padding: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    height: 56px !important;
    text-align: center;
  }

  .otp-input {
    margin-right: 8px !important;
    background: #F2F2F2;
    border-radius: 12px;
    width: 56px !important;
    text-align: center;
    padding: 18px 16px;
    caret-color: transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .four {
    margin-left: 8px;
  }

  .otp {
    div {
      div:nth-child(1), div:nth-child(2), div:nth-child(4), div:nth-child(5), div:nth-child(6) {
        span {
          display: none;
        }
      }
    }
  }

  .modal__buttons {
    button:last-child {
      margin-left: 16px;
      color: $orange;
      border: 2px solid $orange;
      background: white;
    }
  }

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.restaurant__info {
  padding: 0 !important;
  margin-top: 24px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .info__block {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $black
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $black
    }
  }
}

.form__grid {
  margin-top: 16px;
  margin-bottom: 32px;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 20px;
}

.v-form {
  .v-input {
    overflow: hidden !important;
    border-radius: 12px !important;
  }
}

.v-field__outline, .v-input__details {
  display: none !important;
}

.useful__links {
  a {
    display: block;
    width: max-content;
    margin-bottom: 24px;
    text-decoration: none;
    position: relative;
    color: $orange;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    &:after {
      content: '';
      position: absolute;
      border-bottom: 1px dashed #DDAC00;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .navbar__items li a {
    padding: 0 5px;
  }
  .footer__col .col__header {
    font-size: 20px;
  }
  .useful__links a, .contact__block a {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 900px) {
  .restaurant__logo h3 {
    display: none !important;
  }
  .navbar__items li a {
    display: none;
  }
  .navbar__items .menu__toggle, .navbar__items .locale {
    display: block;
  }
  .navbar__container {
    padding: 20px 0;
  }
  .footer__col .col__header {
    margin-top: 32px;
    border: none;
    padding: 0;
    margin-bottom: 18px;
  }

  .contact__block {
    margin-bottom: 16px;
  }
  .footer__container {
    padding: 0 0 48px 0;
  }
  .rightsReserved {
    margin-top: 48px;
  }
}

@media screen and (max-width: 700px) {
  .restaurant__info, .form__grid {
    grid-template-columns: 1fr !important;
  }
  .modal__container {
    .modal__title {
      font-size: 20px;
      line-height: 28px;
    }

    .restaurant__info {
      padding: 16px;

      .info__block {
        h4 {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .modal__buttons {
    flex-direction: column !important;

    button {
      width: 100%;
      margin-left: 0 !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .modal__container {
    padding: 24px 16px !important;

    .otp-input {
      width: 44px !important;
    }

    .v-card-text {
      margin-bottom: 16px;
      margin-top: 24px;
    }
  }

  .restaurant__info {
    gap: 16px;
    margin-bottom: 24px;

    .info__block {
      padding: 16px;
      border-radius: 16px;

      h4 {
        font-size: 16px;
        line-height: 24px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .modal__container .modal__buttons button:last-child {
    margin-top: 16px !important;
  }
  .form__grid {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .modal__container {
    padding: 24px 16px !important;

    .otp-input {
      width: 40px !important;
      font-size: 16px !important;
    }
  }
}