.terminalImage {
  max-width: 636px;
}

.banner__container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F2F2F2;
  padding: 0 56px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin: 80px 0;

  .content {
    h1 {
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      font-style: italic;
      color: #171613;
    }

    p {
      font-weight: 400;
      font-size: 24px;
      margin: 20px 0 56px 0;
      line-height: 32px;
      color: #171613;
    }

    .buttons {
      display: flex;

      button {
        padding: 16px 32px;
        border-radius: 16px;
        height: 56px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        &:first-child {
          background: #171613;
          color: white;
          margin-right: 20px;
        }

        &:last-child {
          color: #DDAC00;
          border: 2px solid #DDAC00;
        }
      }
    }
  }

  .terminalImage {
    max-width: 500px;
    position: relative;
    z-index: 2;
  }

  .rectangle {
    z-index: 1;
    position: absolute;
    right: -30px;
    top: 0;
    background: #FFFFFF;
    width: 331px;
    height: 200%;
    transform: rotate(20.77deg);
  }
}

.work__process {
  padding-bottom: 130px;
  padding-top: 90px;
  margin: 0 auto;
  max-width: 1100px;

  img {
    max-height: 607px;
  }
}

.process__content {
  h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $black;
    margin-bottom: 40px;
  }

  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $black;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
    line-height: 24px;
    color: #55534E;
  }

  li {
    list-style-type: none;
    margin-bottom: 32px;
  }
}

.advantages__container, .carousel__container {
  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
    color: $black;
  }

  .items__block {
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;

    .block__item {
      max-width: 410px;
      width: 100%;
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
      border-radius: 32px;

      h4 {
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $black;
      }

      p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #55534E;
      }
    }
  }
}

.account__container {
  padding-top: 48px;
  padding-bottom: 90px;

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 48px 0 32px 0;
  }
}

.secondary__btn {
  width: 100%;
  border-radius: 12px !important;
  background: white !important;
  border: 2px solid $orange !important;
  color: $orange !important;
}

.avatar__block {
  margin-left: 24px;
  background: #F2F2F2;
  height: max-content;
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 25px;

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $orange;
    margin-top: 15px;
  }
}

.delete__group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  button {
    margin-top: 0;
  }
}

.primary__btn {
  width: 100%;
  background: $black !important;
  color: white !important;
  border-radius: 16px !important;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  .v-btn {
    font-weight: 600;
    font-size: 16px;
    text-transform: initial;
    line-height: 24px;
    height: 56px !important;
    border-radius: 16px;
    padding: 16px 32px !important;

    &:first-child {
      margin-right: 16px;
      color: white;
      background-color: $black;
    }

    &:last-child {
      svg path {
        stroke: $orange;
      }

      border: 2px solid #DDAC00;
      color: $orange;
    }
  }
}

.v-table {
  border-radius: 16px !important;
  margin-bottom: 96px;
}

.v-tab--selected .v-tab__slider {
  display: none !important;
}

.v-tabs--density-default, .v-btn.v-btn--density-default {
  height: 56px !important;
}

.v-table__wrapper > table > thead > tr > th {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #55534E;
}

.v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #171613;

}

.search__block {
  display: flex;
  align-items: center;
  margin: 24px 0;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 18px 22px;

  input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E5260;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.v-slide-group__content {
  margin-bottom: 24px;

  button {
    margin: 0 !important;
    border-radius: 16px !important;
    padding: 16px 32px !important;
    text-transform: initial;

    .v-btn__content {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #DDAC00;
    }
  }
}

.v-slide-group-item--active {
  background: white !important;
}

.employee-login__container {
  max-width: 628px !important;
}

.profile__container {
  max-width: 628px !important;
  margin-top: 0 !important;

  .profile__name-desktop {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .profile__name-mobile {
    display: none;
  }

  .edit {
    cursor: pointer;
    color: $orange;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .info__data {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #171613;
  }

  .info__title {

  }

  img {
    width: 108px;
    height: 108px;
    object-fit: cover;
    border-radius: 24px;
  }
}

.app__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0 0 16px 0 !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .total {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}

.status__block {
  margin-bottom: 32px;

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #20A354;
  }

}

.checkbox {
  display: flex;

  input {
    margin-top: 4px;
    width: 16px !important;
    height: 16px !important;
    accent-color: $black;
    margin-right: 12px;
  }

  label {
    a {
      text-decoration: none;
      color: $orange;
    }

    max-width: 396px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
  }
}

.bank__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 88px;

  div {
    display: flex;
    align-items: center;

    svg {
      margin-right: 9px;
    }

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #171613;
    }
  }
}

.orange__hover {
  transition: 0.4s;

  &:hover {
    color: white !important;
    background: $orange !important;
  }
}

.application__container {
  background: #FFFFFF;
  border-radius: 28px;
  padding: 32px;
  margin: 96px auto;
  max-width: 468px;
  width: 100%;

  .grid__btn {
    display: none;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #171613;
    margin-bottom: 32px;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .v-text-field {
    border-radius: 12px !important;
    overflow: hidden !important;
  }

  .fastFill {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      width: 90.25px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $orange;
      border-radius: 8px;
      color: $orange;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      text-align: center;
    }
  }

  .application__block {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 12px 16px;
    display: flex;

    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      object-fit: cover;
    }

    h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #171613;
      margin: 0;
    }

    p {
      margin: 4px 0 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.mobile-divider {
  display: none !important;
}

.login__container {
  background: #FFFFFF;
  border-radius: 28px;
  padding: 32px;
  margin: 64px auto;
  max-width: 468px;
  width: 100%;

  .max-width {
    max-width: 404px;
    width: 100%;
  }

  .error__message {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
    color: #DD0000;
  }

  .v-input {
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .v-btn {
    border-radius: 16px;
    width: 100%;
    background: $black;
    color: white;
    font-size: 16px;
    line-height: 24px;
    height: 56px !important;
    margin-top: 32px;
  }
}

.restaurant__logo {
  display: flex;
  align-items: center;
  margin-left: 35px;

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-right: 16px;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: white;
  }
}

.partner__container {
  padding-top: 46px !important;
  padding-bottom: 96px !important;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 40px 0;
  }

  .partners {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
  }

  .partner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 193px;
    max-height: 96px;

    img {
      width: 100%;
    }
  }
}

.functional__container {
  margin: 50px 0;
  background: #F2F2F2;
  border-radius: 32px;
  padding: 56px;

  h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .item {
    min-height: 140px;
    max-width: 277px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 20px;

    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .header__buttons .v-btn {
    padding: 16px 10px !important;
  }
  .partner__container {
    .partners {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .work__process {
    padding: 50px 0 90px 0;

    img {
      max-height: 400px;
    }
  }
  .process__content {
    h3 {
      font-size: 30px;
    }

    h4 {
      font-size: 20px;
    }

    li {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .rectangle {
    display: none;
  }
  .banner__container {
    padding: 32px 16px;
    flex-direction: column;

    .content {
      margin-bottom: 32px;

      h1 {
        font-size: 36px;
        line-height: 45px;
      }

      p {
        margin-bottom: 40px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .container__header {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;

    .header__buttons {
      margin-bottom: 25px;
    }

    //.v-slide-group__container {
    //  .v-btn {
    //    margin-right: 15px !important;
    //  }
    //}
  }
  .functional__container {
    padding: 30px;

    h1 {
      font-size: 35px;
    }

    .items {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
    }
  }
  .advantages__container {
    h1 {
      font-size: 32px;
      margin-bottom: 25px;
    }

    .items__block {
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      .block__item {
        padding: 16px;

        h4 {
          font-size: 20px;
          line-height: 28px;
        }

        p {
          font-size: 14px;
          line-height: 22px;
          margin-top: 8px;
        }
      }
    }
  }
  .work__process {
    flex-direction: column-reverse;

    img {
      margin-top: 30px;
    }
  }
}

.modal__row {
  margin-top: 24px;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    svg {
      margin-right: 12px;
    }

    label {
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 700px) {
  .employee-login__container {
    .v-form {
      flex-direction: column-reverse;

      .avatar__container {
        .avatar__block {
          margin-left: 0;
        }

        .v-divider {
          display: none !important;
        }
      }
    }
  }
  .partner__container {
    padding-top: 48px !important;
    padding-bottom: 48px !important;

    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    .partners {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }
  .functional__container {
    padding: 32px 16px;

    h1 {
      font-size: 24px;
      margin-top: 0;
      line-height: 32px;
      margin-bottom: 24px;
    }

    .items {
      grid-template-columns: 1fr;
    }

    .item {
      margin: 0 auto;
      max-width: 100%;

      h4 {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .banner__container .terminalImage {
    width: 100%;
  }
  .buttons {
    flex-direction: column;

    button {
      transition: 0.5s;
    }

    button:first-child {
      margin-bottom: 24px;
      margin-right: 0 !important;
    }

    button:disabled {
      background: #B3B0AA !important;
    }
  }
}

@media screen and (max-width: 599px) {
  .header__buttons {
    flex-direction: column !important;

    .v-btn {
      padding: 16px 32px !important;
      width: 100% !important;
    }

    .v-btn:first-child {
      margin: 0 0 16px 0 !important;
    }
  }
  .profile__name-desktop {
    display: none !important;
  }
  .profile__name-mobile {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    display: block !important;
  }
  .mobile-divider {
    display: block !important;
  }
  .info__row {
    .v-col-12 {
      padding: 6px 12px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .profile__container {
    .info__title {
      font-size: 14px;
      line-height: 22px;
    }

    .info__data {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 450px) {
  .account__container {
    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }
  .bank__grid {
    grid-column-gap: 10px;
  }
  .application__container {
    padding: 16px;

    h1 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #171613;
      margin-bottom: 24px;
    }

    h3 {
      margin-top: 16px;
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 24px;
    }

    .desktop {
      display: none !important;
    }

    .grid__btn {
      display: block;

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      div {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
    }

    .fastFill {
      p {
        width: 70px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .login__container {
    padding: 16px 16px;
    margin: 40px auto;

    h1 {
      font-size: 24px;
      line-height: 32px;
    }

    .v-btn {
      margin-top: 24px;
    }
  }
  .partner__container {
    .partner {
      max-width: 99px;
      max-height: 40px;
    }
  }
  .advantages__container {
    h1 {
      font-size: 24px;
      line-height: 32px;
    }

    .items__block {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
  .work__process {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .process__content {
    h3 {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 32px;
    }

    h4 {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    li {
      margin-bottom: 32px;
    }
  }
  .banner__container {
    margin: 25px 0 40px 0;

    .content {
      h1 {
        font-size: 36px;
        line-height: 40px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 24px;
      }

      .buttons {
        button {
          font-size: 16px !important;
          line-height: 24px;

          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}