.terminalImage {
  max-width: 636px;
}

.banner__container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F2F2F2;
  padding: 0 56px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin: 80px 0;

  .content {
    h1 {
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      color: #171613;
    }

    p {
      font-weight: 400;
      font-size: 24px;
      margin: 20px 0 56px 0;
      line-height: 32px;
      color: #171613;
    }

    .buttons {
      display: flex;

      button {
        padding: 16px 32px;
        border-radius: 16px;
        height: 56px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        &:first-child {
          background: #171613;
          color: white;
          margin-right: 20px;
        }

        &:last-child {
          color: #DDAC00;
          border: 2px solid #DDAC00;
        }
      }
    }
  }

  .terminalImage {
    max-width: 500px;
    position: relative;
    z-index: 2;
  }

  .rectangle {
    z-index: 1;
    position: absolute;
    right: -30px;
    top: 0;
    background: #FFFFFF;
    width: 331px;
    height: 200%;
    transform: rotate(20.77deg);
  }
}

.work__process {
  padding-bottom: 130px;
  padding-top: 90px;
  margin: 0 auto;
  max-width: 1100px;

  img {
    max-height: 607px;
  }
}

.process__content {
  h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $black;
    margin-bottom: 40px;
  }

  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $black;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
    line-height: 24px;
    color: #55534E;
  }

  li {
    list-style-type: none;
    margin-bottom: 32px;
  }
}

.advantages__container {
  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
    color: $black;
  }

  .items__block {
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;

    .block__item {
      max-width: 410px;
      width: 100%;
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
      border-radius: 32px;

      h4 {
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $black;
      }

      p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #55534E;
      }
    }
  }
}

.functional__container {
  margin: 50px 0;
  background: #F2F2F2;
  border-radius: 32px;
  padding: 56px;

  h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .item {
    min-height: 140px;
    max-width: 277px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 20px;

    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .work__process {
    padding: 50px 0 90px 0;

    img {
      max-height: 400px;
    }
  }
  .process__content {
    h3 {
      font-size: 30px;
    }

    h4 {
      font-size: 20px;
    }

    li {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .rectangle {
    display: none;
  }
  .banner__container {
    padding: 32px 16px;
    flex-direction: column;

    .content {
      margin-bottom: 32px;

      h1 {
        font-size: 36px;
        line-height: 45px;
      }

      p {
        margin-bottom: 40px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .functional__container {
    padding: 30px;

    h1 {
      font-size: 35px;
    }

    .items {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
    }
  }
  .advantages__container {
    h1 {
      font-size: 32px;
      margin-bottom: 25px;
    }

    .items__block {
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      .block__item {
        padding: 16px;

        h4 {
          font-size: 20px;
          line-height: 28px;
        }

        p {
          font-size: 14px;
          line-height: 22px;
          margin-top: 8px;
        }
      }
    }
  }
  .work__process {
    flex-direction: column-reverse;

    img {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 700px) {
  .functional__container {
    padding: 32px 16px;

    h1 {
      font-size: 24px;
      margin-top: 0;
      line-height: 32px;
      margin-bottom: 24px;
    }

    .items {
      grid-template-columns: 1fr;
    }

    .item {
      margin: 0 auto;
      max-width: 100%;

      h4 {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .banner__container .terminalImage {
    width: 100%;
  }
  .buttons {
    flex-direction: column;

    button:first-child {
      margin-bottom: 24px;
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .advantages__container {
    h1 {
      font-size: 24px;
      line-height: 32px;
    }

    .items__block {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
  .work__process {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .process__content {
    h3 {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 32px;
    }

    h4 {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    li {
      margin-bottom: 32px;
    }
  }
  .banner__container {
    margin: 25px 0 40px 0;

    .content {
      h1 {
        font-size: 36px;
        line-height: 40px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 24px;
      }

      .buttons {
        button {
          font-size: 16px !important;
          line-height: 24px;

          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}