@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$black: #171613;
$orange: #DDAC00;
$max-width-lg: 1180px;
$max-width-md: 900px;
$max-width-sm: 1180px;